[Unit]
Description= This is a simple time logger agent
[Service]
Type=simple 
ExecStart=/usr/local/bin/main_ubuntu
[Install]
WantedBy=multi-user.target